<h1>Reading Rainbow</h1>

<div class="row" ng-controller="BookController as BookController">
    <button class="btn btn-default" ng-click="reviewFormController.showForm = !reviewFormController.showForm">{{reviewFormController.showForm ? "Cancel": "Create Review"}}</button>
    <hr />
    <review-form books="reviewFormController.books" genres="reviewFormController.genres" ng-show="reviewFormController.showForm"></review-form>
    <hr />
    <ul class="list-unstyled col-sm-8">
        <li class="book row" ng-repeat="book in BookController.books">

            <book-cover></book-cover>

            <div class="col-sm-9">
                <h3><a href="http://www.amazon.com/gp/product/{{book.isbn}}">{{book.title}}</a></h3>

                <cite class="text-muted">{{book.author}}</cite>

                <p>{{book.review}}</p>

                <book-genres></book-genres>

            </div>
        </li>
    </ul>

</div>